.navigation__container {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.navigation__container-content {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.navigation__container-content-header {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__container-content-text {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  opacity: 0.4;
}

.navigation__container-links__container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.navigation__container-links__container-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navigation__container-links__container-group h2 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px; /* 114.286% */
  cursor: pointer;
}

.navigation__container-links__container-group p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1030px) {
  .navigation__container-content {
    flex: 0.8;
  }

  .navigation__container-content-header {
    font-size: 18px;
  }

  .navigation__container-content-text {
    font-size: 14px;
    line-height: 26px; /* 162.5% */
  }

  .navigation__container-links__container {
    gap: 1rem;
  }

  .navigation__container-links__container-group h2 {
    font-size: 17px;
  }

  .navigation__container-links__container-group p {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .navigation__container {
    padding: 3rem 0;
  }

  .navigation__container-content {
    flex: 0.9;
  }

  .navigation__container-content-header {
    font-size: 18px;
  }

  .navigation__container-content-text {
    font-size: 12px;
    line-height: 23px; /* 162.5% */
  }

  .navigation__container-links__container {
    gap: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .navigation__container {
    flex-direction: column;
  }

  .navigation__container-content {
    flex: 0.9;
  }

  .navigation__container-content-header {
    font-size: 22px;
  }

  .navigation__container-content-text {
    font-size: 14px;
  }

  .navigation__container-links__container {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.5rem;
  }

  .navigation__container-links__container-group h2 {
    font-size: 23px;
    text-align: center;
  }

  .navigation__container-links__container-group p {
    font-size: 20px;
  }
}
